<a href="https://colab.research.google.com/github/KrishnaB76/Human_resources_analysis/blob/main/Human_resource.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importing human_resource_raw_data.xlsx from google drive
from google.colab import drive
drive.mount('/content/drive')

%cd /content/drive/MyDrive/data analytics
%pwd
%ls
import pandas as pd
df=pd.read_excel('human_resource_raw_data.xlsx')
print()

In [ ]:
#checking the data types of columns
df.info(memory_usage='deep')

In [ ]:
#checking columns with null values
df.isna().sum()

In [ ]:
#lookng at top 5 rows of the dataset
df.head(5)

In [ ]:
#creating a column - age of employees
df['age']=2024-pd.DatetimeIndex(df['birthdate']).year.astype(int)
df.head(5)

In [ ]:
#What is the gender breakdown of employees in the company?
df.groupby(by='gender').agg(['count'])['Id']

In [ ]:
#What is the race/ethnicity breakdown of employees in the company?
df.groupby(by='race').count()['Id']

In [ ]:
#What is the age distribution of employees in the company?
#creation of age group
for i in range(df["Id"].count()):
    a = df.iloc[i]['age']
    if a >= 18 and a < 25:
        df.at[i, 'age_group'] = "18-24"
    elif a >= 25 and a < 35:
        df.at[i, 'age_group'] = "25-34"
    elif a >= 35 and a < 45:
        df.at[i, 'age_group'] = "35-44"
    elif a >= 45 and a < 55:
        df.at[i, 'age_group'] = "45-54"
    elif a >= 55 and a < 65:
        df.at[i, 'age_group'] = "55-64"
    else:
        df.at[i, 'age_group'] = "65+"
#grouping by age group
df.groupby(by="age_group").count()['Id']

In [ ]:
#How many employees work at headquarters versus remote locations?
df.groupby(by="location").count()['Id']

In [ ]:
#What is the average length of employment for employees who have been terminated?
a=0.0
b=0.0
for i in range(df['Id'].count()-1):
  if(type(df.iloc[i]['term_date'])==str and int(df.iloc[i]['term_date'][0:4]) <=2024):
    a+= (2024-int(df.iloc[i]['term_date'][0:4]))
    b+=1
print(round((a/b),2))

In [ ]:
#How does the gender distribution vary across departments?
print(df.groupby(by=['department','gender']).count()['Id'])

In [ ]:
#What is the distribution of job titles across the company?
df.groupby(by="job_title").count()['Id']

In [ ]:
#What is the distribution of employees across locations by state?
df.groupby(by='location_state').count()['Id']

In [ ]:
#How has the company's employee count changed over time based on hire and term dates?
tc=df.groupby(by=pd.DatetimeIndex(df['hire_date']).year).count()[['Id','term_date']]
tc= tc.rename(columns={'Id':'number_of_hires','term_date':'number_of_terminations'})
for i in range(tc['Id'].count()-1):
 tc['net_change']=tc['Id']-tc['term_date']
 tc['net_change%']= ((tc['Id']-tc['term_date'])/tc['Id'])*100
tc

In [117]:
#What is the tenure distribution for each department?
for i in range(df['Id'].count()-1):
  a=0
  a=int(str(df.iloc[i]['hire_date'])[0:4])#extracting hire year
  if(df.iloc[i]['term_date']== str):
    df['term_year']=str(df.iloc[i]['term_date'])[0:4]#extracting termination year
    df['tenure']=df['term_year']-a
df.groupby(by='department').mean()['tenure']

,Id,first_name,last_name,birthdate,gender,race,department,job_title,location,hire_date,term_date,location_city,location_state,age,age_group,term_year,tenure
0,65-8092094,Thedric,Pawle,1991-01-12,Female,White,Training,Content Developer,Headquarters,2015-01-31,2017-08-16 23:20:39 UTC,Cleveland,Ohio,33.0,25-34,None,None
1,65-8096237,Mufi,Gavaghan,1999-04-16,Female,Asian,Services,Service Manager,Headquarters,2012-10-22,NaN,Cleveland,Ohio,25.0,25-34,None,None
2,65-8197275,Gwenny,Gerlack,1989-07-09,Female,Hispanic or Latino,Engineering,Senior Developer,Headquarters,2001-09-26,NaN,Cleveland,Ohio,35.0,35-44,None,None
3,65-8208232,Burtie,Aitcheson,1974-01-31,Male,American Indian or Alaska Native,Sales,Senior Sales Associate,Remote,2019-12-01,NaN,Madison,Wisconsin,50.0,45-54,None,None
4,65-8275400,Simone,Bloss,1994-12-20,Male,White,Business Development,Business Analyst,Headquarters,2010-11-30,NaN,Cleveland,Ohio,30.0,25-34,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-11-03 12:36:40 UTC,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,None,NaN
2023-06-06 22:52:30 UTC,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,None,NaN
2012-12-23 15:49:49 UTC,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,None,NaN
2018-12-23 00:26:39 UTC,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,None,NaN
2018-07-27 04:56:13 UTC,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,None,NaN